.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
@media only screen and (min-width: 600px) and (max-width: 960px) and (orientation: portrait) {
  .subtitle {
    font-size: 5rem;
  }
  .subtitle span {
    margin-left: 7.5rem;
  }
  .title {
    font-size: 3.2rem;
  }
  .sphere {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .subtitle {
    font-size: 7rem;
  }
  .subtitle span {
    margin-left: 11rem;
  }
  .title {
    font-size: 3.3rem;
  }
  .sphere {
    font-size: 3.6rem;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1280px) and (orientation: portrait) {
  .subtitle {
    font-size: 7rem;
  }
  .subtitle span {
    margin-left: 11rem;
  }
  .title {
    font-size: 3.3rem;
  }
  .sphere {
    font-size: 3.6rem;
  }
}
