.footer {
  max-width: 1200px;
  width: 100%;
}
.social {
  margin-top: 196px;
  margin-bottom: 30px;
  position: relative;

  a {
    margin-right: 60px;
    text-decoration: none;

    .icon {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-size: cover;
      filter: invert(44%) sepia(44%) saturate(523%) hue-rotate(144deg) brightness(96%) contrast(87%);
      transition: all 0.2s;

      &:hover {
        transform: translateY(-10px);
      }
    }
    .icon-vk {
      background-image: url(../img/social/vk.svg);
      width: 51px;
      height: 43px;
    }
    .icon-inst {
      background-image: url(../img/social/inst.svg);
    }
    .icon-telegram {
      background-image: url(../img/social/telegram.svg);
      width: 40px;
      height: 37px;
    }
    .icon-facebook {
      background-image: url(../img/social/facebook.svg);
    }
  }
}
