// font-family: 'Ubuntu', ;
// font-family: 'Caveat', ;
// font-family: 'Neucha', ;

.main {
  display: flex;

  &__title {
    padding-top: 24px;
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
    color: #3D3A48;
    line-height: 1.0;
  }
  &__text {
    margin-top: 6px;
    font-family: 'Caveat';
    font-size: 29px;
    color: #30545C;
    text-transform: capitalize;
  }
  &__feedback {
    display: flex;
    margin-top: 30px;
    margin-bottom: 200px;
    max-width: 390px;
    height: 127px;
    background: rgba(42, 74, 104, 0.51);
    backdrop-filter: blur(20px);
    border-radius: 100px;
    
    .feedback__foto {
      padding: 18px 19px 18px 32px;
      
      img {
        width: 90px;
        height: 90px;
        border: solid 4px #fde10c;
        border-radius: 100px;
      }
    }
    .feedback__name {
      padding-top: 18px;
      font-weight: 700;
      font-size: 18px;
      color: #EBF8F5;
    }
    .feedback__text {
      padding-top: 8px;
      max-width: 186px;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 15px;
      line-height: 113.5%;
      color: #9BC9D3;
    }
  }
  &__right {
    margin-left: 105px;
    margin-top: 102px;
  }
  &__event {
    padding-left: 22px;
    font-size: 25px;
    font-weight: 700;
    color: #366E7A;
    border-left:solid 8px #ffeb56;

    span {
      font-weight: 400;
    }
  }
}
.serf {
  position: absolute;
  z-index: 5;
  top: -55px;
  right: -175px;

  img {
    height: auto;
    width: 250px;
  }
}