@media (max-width: 1600px) {
  .surf-content {
    margin-top: 100px;
    max-width: 1150px;
  }
}
@media (max-width: 1366px) {
  .surf-content {
    max-width: 1080px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1220px;
  }
  .surf-content {
    margin-top: 75px;
    max-width: 1000px;
  }
  .container-surf {
    max-width: 900px;
  }
  .serf {
    top: -60px;
    right: -180px;

    img {
      width: 260px;
    }
  }
  .main__feedback {
    margin-bottom: 240px;
  }
  .locations {
    bottom: -70px;

    .location {
      width: 345px;
      height: 220px;
    }  
  }
  .footer {
    max-width: 1000px;

    .container-footer {
      max-width: 900px;
    }  
  }
  .social {
    margin-top: 150px;
  }
}
@media only screen and (max-width: 1280px) and (max-height: 800px) {
  .container {
    max-width: 1150px;
  }
  .surf-content {
    margin-top: 45px;
    max-width: 950px;
  }
  .container-surf {
    max-width: 850px;
  }
  .serf {
    top: -40px;
    right: -130px;

    img {
      width: 185px;
    }
  }
  .header__text {
    font-size: 20px;
  }
  .header__link a {
    font-size: 23px;
  }
  .main__title {
    padding-top: 10px;
    font-size: 60px;
  }
  .main__text {
    font-size: 24px;
  }
  .main__feedback {
    margin-top: 20px;
    margin-bottom: 140px;
    max-width: 320px;
    height: 110px;

    .feedback__foto {
      padding: 15px 15px 15px 25px;

      img {
        width: 80px;
        height: 80px;
      }
    }
    .feedback__name {
      padding-top: 12px;
      font-size: 16px;
    }
    .feedback__text {
      font-size: 14px;
    }
  }
  .main__right {
    margin-top: 78px;
  }
  .main__event {
    padding-left: 20px;
    font-size: 20px;
  }
  .locations {
    bottom: -75px;

    .location {
      width: 290px;
      height: 185px;
      margin-right: 65px;
    }  
    .location__btn button {
      margin-left: 15px;
    }
    .location__name {
      margin-left: 15px;
      font-size: 30px;
    }
    .location__date {
      margin-left: 15px;
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
  .footer {
    max-width: 950px;

    .container-footer {
      max-width: 850px;
    }  
  }
  .social {
    margin-top: 95px;
    margin-bottom: 25px;

    a {
      margin-right: 50px;

      .icon {
        width: 28px;
        height: 28px;
      }
      .icon-vk {
        width: 38px;
        height: 33px;
      }
      .icon-telegram {
        width: 31px;
        height: 30px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 970px;
  }
  .surf-content {
    margin-top: 65px;
    max-width: 800px;
  } 
  .container-surf {
    max-width: 700px;
  }
  .serf {
    right: -125px;

    img {
      width: 190px;
    }
  }
  .main__title {
    padding-top: 20px;
    font-size: 50px;
  }
  .main__text {
    font-size: 20px;
  }
  .main__feedback {
    margin-bottom: 160px;
    max-width: 280px;
    height: 100px;

    .feedback__foto {
      padding: 13px 15px 13px 20px;

      img {
        width: 75px;
        height: 75px;
      }
    }
    .feedback__name {
      padding-top: 10px;
      font-size: 15px;
    }
    .feedback__text {
      font-size: 12px;
    }
  }
  .main__right {
    margin-top: 72px;
  }
  .locations {
    bottom: -70px;

    .location {
      width: 250px;
      height: 160px;
      margin-right: 60px;
    }  
  }
  .footer {
    max-width: 800px;

    .container-footer {
      max-width: 700px;
    }  
  }
  .social {
    margin-top: 110px;

    a {
      margin-right: 35px;
    }
  }
}
@media (max-width: 960px) {
  .container {
    max-width: 920px;
  }
  .surf-content {
    margin-top: 40px;
    max-width: 775px;
  } 
  .locations {
    bottom: -50px;

    .location {
      width: 240px;
      height: 153px;
      margin-right: 50px;
    }  
    .location__name {
      font-size: 28px;
    }
    .location__date {
      font-size: 14px;
    }
  }
  .footer {
    max-width: 775px;
  }
}
@media (max-width: 853px) {
  .surf-content {
    max-width: 853px;
  }
  .serf {
    display: none;
  }
  .surf-content {
    margin-top: 15px;
  } 
  .container-surf {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 780px;
  }
  .hamburger{
    width: 30px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    position: relative;
  }
  .hamburger div,
  .hamburger:before,
  .hamburger:after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 3px;
    transform: translateY(-50%);
    background-color: #3D8697;
    transition: all 0.3s;
  }
  .hamburger div{
    width: 75%;
  }
  .hamburger:before{
    top: 0;
    transform: translateY(0);
  }
  .hamburger:after {
    top: 100%;
    transform: translateY(-100%);
    width: 50%;
  }
  .hamburger:hover div,
  .hamburger:hover:before,
  .hamburger:hover:after{
    width: 100%;
  }
  .header__link {
    display: none;
  }
  .header__text {
    font-size: 20px;
  }
  .locations {
    bottom: -20px;

    .location {
      width: 213px;
      height: 136px;
      margin-right: 30px;
      text-align: center;
    }  
    .location__btn button {
      margin-left: 0;
    }
    .location__name {
      margin-left: 0;
    }
    .location__date {
      margin-left: 0;
    }
  }
  .container-footer {
    text-align: center;
  }
  .social {
    margin-top: 35px;
    margin-bottom: 15px;
  }
}
@media (max-width: 740px) {
  .header {
    padding-top: 15px;
  }
  .header__text {
    font-size: 18px;
  }
  .header__link a {
    font-size: 18px;
  }
  .locations {
    bottom: -15px;

    .location {
      width: 210px;
      height: 134px;
      margin-right: 15px;
    }  
  }
}
@media (max-width: 640px) {

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;     
  }
  .main__right {
    display: none;
  }
  .main__feedback {
    margin-bottom: 30px;
  }
  .locations {
    bottom: 0px;
    position: relative;
    flex-direction: column;
    align-items: center;

    .location {
      max-width: 400px;
      height: 200px;
      width: 100%;
      margin-bottom: 30px;
      background-size: cover;
    }  
  }
}








