*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html,
body {
  width: 100%;
  height: auto;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #fff;
  background-image: url(../img/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #366E7A;
}

.container {
  margin-left: 15%;
  width: 100%;
  max-width: 1280px;
}

.surf-content {
  position: relative;
  margin-top: 120px;
  max-width: 1014px;
  width: 100%;
  background: #FFFFFF;
  background-image: url(../img/foto.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-box-shadow: 0px 90px 60px rgba(105, 134, 140, 0.25);
          box-shadow: 0px 90px 60px rgba(105, 134, 140, 0.25);
  border-radius: 10px;
}

.surf-container {
  position: relative;
  margin: 0 auto;
  max-width: 910px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 40px;
  margin-left: 7px;
}

.header__text {
  font-size: 25px;
  line-height: 113.5%;
  font-weight: 700;
  color: #3D8697;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link a {
  font-family: 'Caveat';
  font-size: 22px;
  color: #3D8697;
  text-decoration: none;
  cursor: pointer;
  padding-left: 55px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__link a:hover {
  color: #000;
}

.header__link a:after {
  content: "";
  display: block;
  background-color: #ffeb56;
  height: 3px;
  width: 0%;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.header__link a:hover:after {
  width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__title {
  padding-top: 24px;
  font-weight: 700;
  font-size: 62px;
  text-transform: uppercase;
  color: #3D3A48;
  line-height: 1.0;
}

.main__text {
  margin-top: 6px;
  font-family: 'Caveat';
  font-size: 25px;
  color: #30545C;
  text-transform: capitalize;
}

.main__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 210px;
  max-width: 370px;
  height: 127px;
  background: rgba(42, 74, 104, 0.51);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 100px;
}

.main__feedback .feedback__foto {
  padding: 18px 19px 18px 32px;
}

.main__feedback .feedback__foto img {
  width: 90px;
  height: 90px;
  border: solid 4px #fde10c;
  border-radius: 100px;
}

.main__feedback .feedback__name {
  padding-top: 22px;
  font-weight: 700;
  font-size: 15px;
  color: #EBF8F5;
}

.main__feedback .feedback__text {
  padding-top: 8px;
  max-width: 186px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  line-height: 113.5%;
  color: #9BC9D3;
}

.main__right {
  margin-left: 105px;
  margin-top: 106px;
}

.main__event {
  padding-left: 22px;
  font-size: 22px;
  font-weight: 700;
  color: #366E7A;
  border-left: solid 8px #ffeb56;
}

.main__event span {
  font-weight: 400;
}

.serf {
  position: absolute;
  z-index: 5;
  top: -70px;
  right: -165px;
}

.serf img {
  height: auto;
  width: 230px;
}

footer {
  margin-bottom: 4rem;
}

@media (max-width: 850px) {
  footer {
    margin-bottom: 1rem;
  }
}

.social {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 5;
  -webkit-transition: all 5s;
  transition: all 5s;
}

@media (max-width: 540px) {
  .social {
    text-align: center;
  }
}

.social a {
  margin-right: 1rem;
  text-decoration: none;
}

.social a .icon {
  display: inline-block;
  width: 40px;
  height: 35px;
  background-size: cover;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 1024px) {
  .social a .icon {
    width: 35px;
    height: 31px;
  }
}

.social a .icon-vk {
  background-image: url(../img/social/vk.svg);
  width: 42px;
  height: 35px;
}

@media (max-width: 1024px) {
  .social a .icon-vk {
    width: 39px;
    height: 33px;
  }
}

.social a .icon-inst {
  background-image: url(../img/social/inst.svg);
}

.social a .icon-github {
  background-image: url(../img/social/git.svg);
}

.social a .icon-facebook {
  background-image: url(../img/social/facebook.svg);
}

.social a .icon:hover,
.social a .icon:focus {
  -webkit-filter: invert(100%) sepia(35%) saturate(4559%) hue-rotate(316deg) brightness(104%) contrast(106%);
          filter: invert(100%) sepia(35%) saturate(4559%) hue-rotate(316deg) brightness(104%) contrast(106%);
}

.locations {
  position: absolute;
  z-index: 10;
  bottom: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.locations .location {
  margin-right: 45px;
  width: 360px;
  height: 230px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 55px 78px rgba(29, 44, 63, 0.31);
          box-shadow: 0px 55px 78px rgba(29, 44, 63, 0.31);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.locations .location-1 {
  background-image: url(../img/location1.jpg);
}

.locations .location-2 {
  background-image: url(../img/location2.jpg);
}

.locations .location-3 {
  background-image: url(../img/location3.jpg);
}

.locations .location__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.locations .location__btn button {
  border: 0;
  background: transparent;
  padding: 11px 24px;
  margin-top: 17px;
  margin-bottom: 25px;
  margin-left: 29px;
  font-size: 12px;
  font-weight: 700;
  color: #18352E;
  background: #ffffffbd;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.locations .location__btn button:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  background: #2BE654;
  border-radius: 50px;
  border: 1px solid #F8C2C2;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 66, 66, 0.25);
          box-shadow: 0px 0px 4px rgba(209, 66, 66, 0.25);
}

.locations .location__btn button:hover {
  background: #fff;
}

.locations .location__name {
  margin-left: 29px;
  font-family: 'Caveat';
  font-size: 37px;
  color: #fff;
}

.locations .location__date {
  margin-left: 29px;
  margin-bottom: 35px;
  font-size: 18px;
  color: #fff;
}

.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media only screen and (min-width: 600px) and (max-width: 960px) and (orientation: portrait) {
  .subtitle {
    font-size: 5rem;
  }
  .subtitle span {
    margin-left: 7.5rem;
  }
  .title {
    font-size: 3.2rem;
  }
  .sphere {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .subtitle {
    font-size: 7rem;
  }
  .subtitle span {
    margin-left: 11rem;
  }
  .title {
    font-size: 3.3rem;
  }
  .sphere {
    font-size: 3.6rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1280px) and (orientation: portrait) {
  .subtitle {
    font-size: 7rem;
  }
  .subtitle span {
    margin-left: 11rem;
  }
  .title {
    font-size: 3.3rem;
  }
  .sphere {
    font-size: 3.6rem;
  }
}
/*# sourceMappingURL=style.css.map */