*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html,
body {
  width: 100%;
  height: auto;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #fff;
  background-image: url(../img/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #366E7A;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
}

.surf-content {
  position: relative;
  margin-top: 120px;
  max-width: 1200px;
  width: 100%;
  background: #FFFFFF;
  background-image: url(../img/foto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-box-shadow: 0px 90px 60px rgba(105, 134, 140, 0.25);
          box-shadow: 0px 90px 60px rgba(105, 134, 140, 0.25);
  border-radius: 10px;
}

.container-surf {
  position: relative;
  margin: 0 auto;
  max-width: 990px;
}

.container-footer {
  margin: 0 auto;
  max-width: 990px;
}

.header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 42px;
  margin-left: 7px;
}

.header__text {
  font-size: 25px;
  line-height: 113.5%;
  font-weight: 700;
  color: #3D8697;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link a {
  font-family: 'Caveat';
  font-size: 29px;
  color: #3D8697;
  text-decoration: none;
  cursor: pointer;
  padding-left: 55px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__link a:hover {
  color: #000;
}

.header__link a:after {
  content: "";
  display: block;
  background-color: #ffeb56;
  height: 3px;
  width: 0%;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.header__link a:hover:after {
  width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__title {
  padding-top: 24px;
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
  color: #3D3A48;
  line-height: 1.0;
}

.main__text {
  margin-top: 6px;
  font-family: 'Caveat';
  font-size: 29px;
  color: #30545C;
  text-transform: capitalize;
}

.main__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 330px;
  max-width: 390px;
  height: 127px;
  background: rgba(42, 74, 104, 0.51);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 100px;
}

.main__feedback .feedback__foto {
  padding: 18px 19px 18px 32px;
}

.main__feedback .feedback__foto img {
  width: 90px;
  height: 90px;
  border: solid 4px #fde10c;
  border-radius: 100px;
}

.main__feedback .feedback__name {
  padding-top: 18px;
  font-weight: 700;
  font-size: 18px;
  color: #EBF8F5;
}

.main__feedback .feedback__text {
  padding-top: 8px;
  max-width: 186px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  line-height: 113.5%;
  color: #9BC9D3;
}

.main__right {
  margin-left: 105px;
  margin-top: 102px;
}

.main__event {
  padding-left: 22px;
  font-size: 25px;
  font-weight: 700;
  color: #366E7A;
  border-left: solid 8px #ffeb56;
}

.main__event span {
  font-weight: 400;
}

.serf {
  position: absolute;
  z-index: 5;
  top: -70px;
  right: -210px;
}

.serf img {
  height: auto;
  width: 300px;
}

.locations {
  position: absolute;
  z-index: 10;
  bottom: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.locations .location {
  margin-right: 45px;
  width: 360px;
  height: 230px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 55px 78px rgba(29, 44, 63, 0.31);
          box-shadow: 0px 55px 78px rgba(29, 44, 63, 0.31);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.locations .location-1 {
  background-image: url(../img/location1.jpg);
}

.locations .location-2 {
  background-image: url(../img/location2.jpg);
}

.locations .location-3 {
  background-image: url(../img/location3.jpg);
}

.locations .location__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.locations .location__btn button {
  border: 0;
  background: transparent;
  padding: 11px 25px 11px 15px;
  margin-top: 17px;
  margin-bottom: 25px;
  margin-left: 29px;
  font-size: 12px;
  font-weight: 700;
  color: #18352E;
  background: #ffffffbd;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.locations .location__btn button:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  background: #2BE654;
  border-radius: 50px;
  border: 1px solid #F8C2C2;
  -webkit-box-shadow: 0px 0px 4px rgba(209, 66, 66, 0.25);
          box-shadow: 0px 0px 4px rgba(209, 66, 66, 0.25);
}

.locations .location__btn button:hover {
  background: #fff;
}

.locations .location__name {
  margin-left: 29px;
  font-family: 'Caveat';
  font-size: 37px;
  color: #fff;
}

.locations .location__date {
  margin-left: 29px;
  margin-bottom: 35px;
  font-size: 18px;
  color: #fff;
}

.footer {
  max-width: 1200px;
  width: 100%;
}

.social {
  margin-top: 196px;
  margin-bottom: 30px;
  position: relative;
}

.social a {
  margin-right: 60px;
  text-decoration: none;
}

.social a .icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: cover;
  -webkit-filter: invert(44%) sepia(44%) saturate(523%) hue-rotate(144deg) brightness(96%) contrast(87%);
          filter: invert(44%) sepia(44%) saturate(523%) hue-rotate(144deg) brightness(96%) contrast(87%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social a .icon:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.social a .icon-vk {
  background-image: url(../img/social/vk.svg);
  width: 51px;
  height: 43px;
}

.social a .icon-inst {
  background-image: url(../img/social/inst.svg);
}

.social a .icon-telegram {
  background-image: url(../img/social/telegram.svg);
  width: 40px;
  height: 37px;
}

.social a .icon-facebook {
  background-image: url(../img/social/facebook.svg);
}

@media (max-width: 1600px) {
  .surf-content {
    margin-top: 100px;
    max-width: 1150px;
  }
}

@media (max-width: 1366px) {
  .surf-content {
    max-width: 1080px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1220px;
  }
  .surf-content {
    margin-top: 75px;
    max-width: 1000px;
  }
  .container-surf {
    max-width: 900px;
  }
  .serf {
    top: -60px;
    right: -180px;
  }
  .serf img {
    width: 260px;
  }
  .main__feedback {
    margin-bottom: 240px;
  }
  .locations {
    bottom: -70px;
  }
  .locations .location {
    width: 345px;
    height: 220px;
  }
  .footer {
    max-width: 1000px;
  }
  .footer .container-footer {
    max-width: 900px;
  }
  .social {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
  .container {
    max-width: 1150px;
  }
  .surf-content {
    margin-top: 45px;
    max-width: 950px;
  }
  .container-surf {
    max-width: 850px;
  }
  .serf {
    top: -40px;
    right: -130px;
  }
  .serf img {
    width: 185px;
  }
  .header__text {
    font-size: 20px;
  }
  .header__link a {
    font-size: 23px;
  }
  .main__title {
    padding-top: 10px;
    font-size: 60px;
  }
  .main__text {
    font-size: 24px;
  }
  .main__feedback {
    margin-top: 20px;
    margin-bottom: 140px;
    max-width: 320px;
    height: 110px;
  }
  .main__feedback .feedback__foto {
    padding: 15px 15px 15px 25px;
  }
  .main__feedback .feedback__foto img {
    width: 80px;
    height: 80px;
  }
  .main__feedback .feedback__name {
    padding-top: 12px;
    font-size: 16px;
  }
  .main__feedback .feedback__text {
    font-size: 14px;
  }
  .main__right {
    margin-top: 78px;
  }
  .main__event {
    padding-left: 20px;
    font-size: 20px;
  }
  .locations {
    bottom: -75px;
  }
  .locations .location {
    width: 290px;
    height: 185px;
    margin-right: 65px;
  }
  .locations .location__btn button {
    margin-left: 15px;
  }
  .locations .location__name {
    margin-left: 15px;
    font-size: 30px;
  }
  .locations .location__date {
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .footer {
    max-width: 950px;
  }
  .footer .container-footer {
    max-width: 850px;
  }
  .social {
    margin-top: 95px;
    margin-bottom: 25px;
  }
  .social a {
    margin-right: 50px;
  }
  .social a .icon {
    width: 28px;
    height: 28px;
  }
  .social a .icon-vk {
    width: 38px;
    height: 33px;
  }
  .social a .icon-telegram {
    width: 31px;
    height: 30px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 970px;
  }
  .surf-content {
    margin-top: 65px;
    max-width: 800px;
  }
  .container-surf {
    max-width: 700px;
  }
  .serf {
    right: -125px;
  }
  .serf img {
    width: 190px;
  }
  .main__title {
    padding-top: 20px;
    font-size: 50px;
  }
  .main__text {
    font-size: 20px;
  }
  .main__feedback {
    margin-bottom: 160px;
    max-width: 280px;
    height: 100px;
  }
  .main__feedback .feedback__foto {
    padding: 13px 15px 13px 20px;
  }
  .main__feedback .feedback__foto img {
    width: 75px;
    height: 75px;
  }
  .main__feedback .feedback__name {
    padding-top: 10px;
    font-size: 15px;
  }
  .main__feedback .feedback__text {
    font-size: 12px;
  }
  .main__right {
    margin-top: 72px;
  }
  .locations {
    bottom: -70px;
  }
  .locations .location {
    width: 250px;
    height: 160px;
    margin-right: 60px;
  }
  .footer {
    max-width: 800px;
  }
  .footer .container-footer {
    max-width: 700px;
  }
  .social {
    margin-top: 110px;
  }
  .social a {
    margin-right: 35px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 920px;
  }
  .surf-content {
    margin-top: 40px;
    max-width: 775px;
  }
  .locations {
    bottom: -50px;
  }
  .locations .location {
    width: 240px;
    height: 153px;
    margin-right: 50px;
  }
  .locations .location__name {
    font-size: 28px;
  }
  .locations .location__date {
    font-size: 14px;
  }
  .footer {
    max-width: 775px;
  }
}

@media (max-width: 853px) {
  .surf-content {
    max-width: 853px;
  }
  .serf {
    display: none;
  }
  .surf-content {
    margin-top: 15px;
  }
  .container-surf {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 780px;
  }
  .hamburger {
    width: 30px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    position: relative;
  }
  .hamburger div,
  .hamburger:before,
  .hamburger:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: #3D8697;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .hamburger div {
    width: 75%;
  }
  .hamburger:before {
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .hamburger:after {
    top: 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    width: 50%;
  }
  .hamburger:hover div,
  .hamburger:hover:before,
  .hamburger:hover:after {
    width: 100%;
  }
  .header__link {
    display: none;
  }
  .header__text {
    font-size: 20px;
  }
  .locations {
    bottom: -20px;
  }
  .locations .location {
    width: 213px;
    height: 136px;
    margin-right: 30px;
    text-align: center;
  }
  .locations .location__btn button {
    margin-left: 0;
  }
  .locations .location__name {
    margin-left: 0;
  }
  .locations .location__date {
    margin-left: 0;
  }
  .container-footer {
    text-align: center;
  }
  .social {
    margin-top: 35px;
    margin-bottom: 15px;
  }
}

@media (max-width: 740px) {
  .header {
    padding-top: 15px;
  }
  .header__text {
    font-size: 18px;
  }
  .header__link a {
    font-size: 18px;
  }
  .locations {
    bottom: -15px;
  }
  .locations .location {
    width: 210px;
    height: 134px;
    margin-right: 15px;
  }
}

@media (max-width: 640px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main__right {
    display: none;
  }
  .main__feedback {
    margin-bottom: 30px;
  }
  .locations {
    bottom: 0px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .locations .location {
    max-width: 400px;
    height: 200px;
    width: 100%;
    margin-bottom: 30px;
    background-size: cover;
  }
}

.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media only screen and (min-width: 600px) and (max-width: 960px) and (orientation: portrait) {
  .subtitle {
    font-size: 5rem;
  }
  .subtitle span {
    margin-left: 7.5rem;
  }
  .title {
    font-size: 3.2rem;
  }
  .sphere {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .subtitle {
    font-size: 7rem;
  }
  .subtitle span {
    margin-left: 11rem;
  }
  .title {
    font-size: 3.3rem;
  }
  .sphere {
    font-size: 3.6rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1280px) and (orientation: portrait) {
  .subtitle {
    font-size: 7rem;
  }
  .subtitle span {
    margin-left: 11rem;
  }
  .title {
    font-size: 3.3rem;
  }
  .sphere {
    font-size: 3.6rem;
  }
}
/*# sourceMappingURL=style.css.map */